body{
    background-color: blue;
}

.image-area1{
    width: 100px;
    height: 100px;
}

.image-area2{
    width: 100px;
    height: 100px;
}

body{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poor Story', cursive;
}

.navbar {
    background: #050555 !important;
}
.nav-link {
    color: #FFFFFF !important;
}

.dropdown-menu{
    background: #050555 !important;
}

.dropdown-item{
    color: #FFFFFF !important;
}
.navbar-brand img{
    width: 150px;
    height: 40px;
}